.main-toolbar{
  // position: fixed;
  z-index: 100;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

  button {
    height: 100%;
  }
}

.container {

  .main-content-wrapper{
    padding: 0 10px 0 10px;
  }

  .sidebar-list-container {

    padding-top: 0;
    .selected {
      background-color: rgb(48, 48, 48);;
      color: #b71c1c;
      font-weight: bold;
    }
    
    .list-item{
      width: 200px;
      padding: 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: rgba(255, 255, 255, 0.06);
      transition: all .2s;
    }
  }
}

.sidenav-wrapper{
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
